{% extends "base.html" %}


{% block content %}
    <div class="container-fluid my-5">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="card">
                    <h2 class="card-title text-center my-3">{{ article.title }}</h2>
                    <div class="text-muted text-center mb-3">
                        <div>
                            created: {{ article.created|date:"N j Y" }},
                            by {{ article.author }}
                        </div>
                </div>
                {% if article.image %}
                    <img class="card-img-top" src="{{ article.image.url }}" alt="{{ article.title }}">
                {% endif %}
                <div class="card-text p-4">
                    {{ article.content }}
                </div>
                </div>
            </div>
        </div>
    </div>  

    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="d-flex flex-column col-md-8">
                <div class="coment-bottom bg-white p-2 px-4">
                    <form method="post" style="margin-top: 1.3em;">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                    </form>
            {% for comment in comments %}
                <div class="commented-section mt-2">
                    <div class="d-flex flex-row align-items-center commented-user">
                        <h5 class="mr-2">{{ comment.user }}</h5>
                        <span class="mb-1 ml-2">{{ comment.created }}</span>
                    </div>
                    <div class="comment-text-sm">
                      <span>{{ comment.content|linebreaksbr }}</span>
                    </div>
                </div>
            {% endfor %}
  </div>
  </div>
  </div>
  </div>
  </div> 
{% endblock %}
